<p>Bonjour <%= set_username(@user) %>,</p>
<br>
<p>Bienvenue chez DailyOrder !</p>
<br>
<p>Le leitmotiv de DailyOrder est de vous faire gagner du temps et de l'argent en vous procurant une solution web toujours plus intelligente qui va révolutionner vos relations fournisseurs.</p>
<br>
<p>Nous avons hâte d'avoir vos retours pour pouvoir toujours mieux vous servir.</p>
<br>
<p>Happy Ordering !</p>
<br>
<p>Team DailyOrder</p>
<p>DailyOrder.co</p>
<p>team@dailyorder.co</p>
<p>Tel: 06.84.73.96.18</p>
