<p>Bonjour <%= set_username(@user) %>,</p>

<p>Bienvenue chez DailyOrder !</p>

<p>Le leitmotiv de DailyOrder est de vous faire gagner du temps et de l'argent en vous procurant une solution web toujours plus intelligente qui va révolutionner vos relations fournisseurs.</p>

<p>Nous avons hâte d'avoir vos retours pour pouvoir toujours mieux vous servir.</p>

<p>Happy Ordering !</p>

<p>Vincent Panis</p>
<p>DailyOrder</p>
<p>vincent@dailyorder.co</p>
<p>Tel: 06.84.73.96.18</p>
