<p>Bonjour <%= set_username(@user) %>,</p>

<p>Le restaurant <%= @restaurant.name %> a bien été crée.</p>

<p>Vous pouvez dès à présent passer vos commandes auprès de tous vos fournisseurs grâce à DailyOrder.</p>

<p>Happy Ordering !</p>

<p>Vincent Panis</p>
<p>DailyOrder.co</p>
<p>vincent@dailyorder.co</p>
<p>Tel: 06.84.73.96.18</p>
