<p>Bonjour <%= @supplier.name %>,</p>
<br>
<p>Veuillez trouver ci-joint votre relevé de commandes.</p>
<br>
<p>Happy Delivering !</p>
<br>
<p>Team DailyOrder</p>
<p>DailyOrder.co</p>
<p>team@dailyorder.co</p>
<p>Tel: 06.84.73.96.18</p>
