<div class="container">

  <div class="box">

    <h2 class="text-center head">Profil restaurant</h2>

    <div class="text-center btn-order">
      <%= link_to "Ajouter un restaurant", new_restaurant_path, class: "btn btn-success" %>
    </div>

    <% if @profiles.first.nil? %>

      <h3 class="text-center" style="margin-top: 20px;">Aucun établissement répertorié</h3>

    <% end %>

      <div class="row">

        <% @profiles.each do |profile|%>

          <div class="col-xs-12 col-sm-4">

            <%= link_to restaurant_path(profile.restaurant), class: "card-link" do %>

                <div class="card-company">

                  <div class="card-company-image" style="background-image:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= set_restaurant_photo(profile.restaurant) %>)"></div>

                  <h2 class="card-company-name"><%= profile.restaurant.name %></h2>

                </div>

            <% end %>

          </div>

        <% end %>

    </div>
  </div>
</div>
