.form-devise {
  background-color: white;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }

  a {
    color: $green;
    text-decoration: none;
  }
  a:hover {
    color: green;
    text-decoration: none;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
  }
  .btn:hover {
    width: 100%;
    margin-bottom: 20px;
    background-color: $green;
    border: 1px solid $green;
    color: white;
    font-size: bold;
  }
  abbr {
    display: none;
  }
  p {
    font-size: 15px;
  }
}
span.radio.inline {
  display: inline-block;
  margin: 0px;
  label {
    margin: 0 20px;
  }
}
label.control-label.radio_buttons.optional {
  width: 100px;
  font-weight: normal;
  margin: 0px;
}
div.form-group.radio_buttons.optional {
  margin: 10px 0;
}
select.form-control.select.optional {
  display: inline-block;
  width: 120px;
}
label.control-label.select.optional {
  width: 100px;
  font-weight: normal;
  margin: 0px;
}
.order-before {
  margin-left: 30px;
}
